<!DOCTYPE html>
<html lang="{{@site.locale}}">
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Preload assets --}}
    <link rel="preload" href="{{asset "css/app.css"}}" as="style" />
    <link rel="preload" href="{{asset "js/manifest.js"}}" as="script" />
    <link rel="preload" href="{{asset "js/vendor/content-api.min.js"}}" as="script" />
    <link rel="preload" href="{{asset "js/vendor.js"}}" as="script" />
    <link rel="preload" href="{{asset "js/app.js"}}" as="script" />
    <link rel="preconnect" href="https://polyfill.io">
    <link rel="dns-prefetch" href="https://polyfill.io">

    {{!-- This #block helper will try to preload page-specific assets --}}
    {{{block "preload"}}}

    {{!-- Styles & Scripts --}}
    <style>
      /* These font-faces are here to make fonts work if the Ghost instance is installed in a subdirectory */

      @font-face {
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 700;
          font-display: swap;
          src: local('Spoqa Han Sans Neo Bold'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Bold.woff2'}}") format('woff2'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Bold.woff'}}") format('woff'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Bold.ttf'}}") format('truetype');
      }


      @font-face {
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 500;
          font-display: swap;
          src: local('Spoqa Han Sans Neo Medium'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Medium.woff2'}}") format('woff2'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Medium.woff'}}") format('woff'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Medium.ttf'}}") format('truetype');
      }

      @font-face {
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 400;
          font-display: swap;
          src: local('Spoqa Han Sans Neo Regular'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Regular.woff2'}}") format('woff2'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Regular.woff'}}") format('woff'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Regular.ttf'}}") format('truetype');
      }

      @font-face {
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 300;
          font-display: swap;
          src: local('Spoqa Han Sans Neo Light'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Light.woff2'}}") format('woff2'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Light.woff'}}") format('woff'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Light.ttf'}}") format('truetype');
      }

      @font-face {
          font-family: 'Spoqa Han Sans Neo';
          font-weight: 100;
          font-display: swap;
          src: local('Spoqa Han Sans Neo Thin'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Thin.woff2'}}") format('woff2'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Thin.woff'}}") format('woff'),
          url("{{asset 'fonts/spoqa-han-sans/SpoqaHanSansNeo-Thin.ttf'}}") format('truetype');
      }

      @font-face {
          font-family: 'D2Coding';
          font-weight: 400;
          font-display: swap;
          src: local('D2Coding'),
          url("{{asset 'fonts/d2coding/D2Coding-Ver1.3.2-20180524.woff2'}}") format('woff2'),
          url("{{asset 'fonts/d2coding/D2Coding-Ver1.3.2-20180524.woff'}}") format('woff'),
          url("{{asset 'fonts/d2coding/D2Coding-Ver1.3.2-20180524.ttf'}}") format('truetype');
      }

      @font-face {
          font-family: 'D2Coding';
          font-weight: 700;
          font-display: swap;
          src: local('D2CodingBold'),
          url("{{asset 'fonts/d2coding/D2CodingBold-Ver1.3.2-20180524.woff2'}}") format('woff2'),
          url("{{asset 'fonts/d2coding/D2CodingBold-Ver1.3.2-20180524.woff'}}") format('woff'),
          url("{{asset 'fonts/d2coding/D2CodingBold-Ver1.3.2-20180524.ttf'}}") format('truetype');
      }

      /* iconmoon 아이콘 폰트 */
      @font-face {
        font-family: 'icomoon';
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        src: url("{{asset 'fonts/icomoon/icomoon.eot?101fc3'}}");
        src: url("{{asset 'fonts/icomoon/icomoon.eot?101fc3#iefix'}}") format('embedded-opentype'),
        url("{{asset 'fonts/icomoon/icomoon.ttf?101fc3'}}") format('truetype'),
        url("{{asset 'fonts/icomoon/icomoon.woff?101fc3'}}") format('woff'),
        url("{{asset 'fonts/icomoon/icomoon.svg?101fc3#icomoon'}}") format('svg');
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}" media="screen" />

    {{!-- This #block helper will inject a stylesheet for a specific page --}}
    {{{block "styles"}}}

    {{!-- This #block helper will pull data from the hero partial 
    to inject styles of the hero image to make it responsive --}}
    {{{block "herobackground"}}}

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    {{!-- This variable is used to make the search form work --}}
    <script>
      // @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt Expat
      const ghostHost = "{{@site.url}}"
      // @license-end
    </script>
  </head>
  <body class="{{body_class}}">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- Search form --}}
    {{> search}}

    {{!-- The footer --}}
    {{> footer}}

    {{!-- Notifications alerts --}}
    {{> "notifications"}}

    {{!-- Common scripts shared between pages --}}
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver%2CPromise%2CArray.prototype.includes%2CString.prototype.endsWith%2CString.prototype.startsWith%2CObject.assign%2CNodeList.prototype.forEach"></script>
    <script defer src="{{asset "js/manifest.js"}}"></script>
    <script defer src="{{asset "js/vendor/content-api.min.js"}}"></script>
    <script defer src="{{asset "js/vendor.js"}}"></script>
    <script defer src="{{asset "js/app.js"}}"></script>

    {{!-- The #block helper will pull in data from the #contentFor other template files --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
  </body>
</html>
